{% extends "base.html" %}
{% load static %}

{% block sidenav %}
      <li>
        <a href="/">  Home </a>
      </li>
{% endblock sidenav %}

{% block content %}
  <h1>User Login</h1>
    <form action="{% url 'login' %}" method="post">
      <table>
         {{ form.as_table }}
          <tr>
             <td>
                 <input type="submit" value="login">
             </td>
          </tr>
      </table>
        <p>
            Don’t have an account?
            <a href="{% url 'register' %}">Create one here</a>
        </p>

      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
     </form>

{% if form.errors %}
   <p style="color:red;">Invalid login, please try again.</p>
{% endif %}

{% if next %}
   <p style="color:red;">Please log in to continue.</p>
{% endif %}

{% endblock content %}